/* HEADER CONTAINER */
h1{
    position: absolute;
    top: 200px;
    right: 30px;
    font-size: 100px;
    color: #695B4B
}

h2{
    position: absolute;
    rotate: 270deg;
    top: 700px;
    left: -170px;
    margin: unset;
    padding: unset;
    font-size: 50px;
    color: #695B4B;

}
h3,h4,h5,h6{
    padding: 2px;
    font-size: 35px;
    color:#89837C ;
}

