body {
    color: black;
    background-image: url("images/AdobeStock_466959309_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 120%;
    margin: unset;
    background-color: #BDBFC5;
    padding-left: 120px;
}

div.page-wrapper {
    padding-top: 450px;
}


div.summary {
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

div.preamble {
    background-color: white;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;

}

div.explanation {
    background-color: white;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

div.participation {
    background-color: white;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

div.benefits {
    background-color: white;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

div.requirements {
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

footer{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}

div.wrapper{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: right;
}




