@charset "UTF-8";
@import "header.css";
@import "main.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Kalam&family=Satisfy&display=swap');

header {
    font-family: 'Satisfy', cursive;
}
body {
    font-family: 'Kalam', cursive;
}

a:link {
 color: #B3AFAD;
    text-decoration: none;
}

a:active {
    color: red;
}

a:hover {
   color: blue;
   text-decoration: underline;
}

a:visited {
   color: blueviolet;
}